@import 'variables';


//INÍCIO NAV
nav {
    background-color: $background-secondary;
    // height: 40px;
    box-shadow: 0 3px 9px 0 #dddde2;
    margin-bottom: 20px;
    .navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
        margin: 0;
        li {
          flex-grow: 1;
          text-align: center;
          list-style: none;
          font-weight: 600;
        //   padding: 8px;
          padding: 14px;
        }
        a {
            text-decoration: none;
            color: #646466;
            width: 100%;
            display: inline-block;
        }
        
        li:hover, li.active {
           border-bottom: 4px solid $primary;
           padding-bottom: 4px;
           a {
            color: $primary;
        }
        }
    }
}




// FIM NAV

// INÍCIO DO BANNER

#banner {
    width: 90%;
    margin: 0 auto ;

    .slick-slide {
        margin: 10px;
    }

    .slick-center img {
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
        -webkit-transform: scale(1.08);
        color: #e67e22;
        opacity: 1;
        transform: scale(1.11);
    }
    img {
        opacity: 0.95;
        transition: all 300ms ease;
        display: block;
        width: 100%;
        border-radius: 10px;
    }


    .slick-prev {
        z-index: 1;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        left: 40px;
    }
    
    .slick-next {
        right: 40px;
        border-radius: 50%;
        width: 29px;
        height: 29px;
    }
    .slick-prev, .slick-next {
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: black;
        color: transparent;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;
    }
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "-";
    width: 37px;
    height: 20px;
    font-family: "slick";
    font-size: 57px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: $primary;
    opacity: 0.75;
}

@media screen and (min-width: 1200px) {
    #banner {
    .slick-slide {
        margin: 21px !important;
    }
    }
}
@media screen and (max-width: 600px) {
    .slick-dots {
        display: none;
    }

}

// FIM DO BANNER

// INÍCIO CARDS

// .container-cards {
   
// }

.font-cards {
    color: #646466;
}

.container-cards {
    margin-left: 20px;

    .slick-slide {
        margin: 5px!important;
    }

    .slick-prev, .slick-next {
        width: 40px;
        height: 85px;
        z-index: 1;
        background-color: #43494b;
        &::before {
            font-size: 20px;
            font-family: "Font Awesome 5 Free";
            color: $background-secondary;
            font-weight: bold;
        }
        &.slick-disabled {
            background-color: #e4e4ea;
        }
    }

    .slick-prev {
        left: -20px;
        border-radius: 0 150px 150px 0;
        &::before {
            content: '\f053';
        }
    }

    .slick-next {
        right: 0;
        border-radius: 150px 0 0 150px;
        &::before {
            content: '\f054';
        }
    }

    

    .card {
        position: relative;
        // width:0 !important;
        img {
            width: 100%;
            border-radius: 5px;
        }
        .icon-card {
            position: absolute;
            top: 10px;
            right: 10px;
            border:4px solid #ffffff;
            width: 28px;
            height: 28px;
            border-radius: 128px;
            background: rgba(0,0,0,0.4);
            .fa-lock {
                color:#ffffff;
                padding-left: 0px;
                padding-top: 0px;
                margin-left: 8px;
                margin-top: 5px;
            }
            .fa-shopping-cart {
                color:#ffffff;
                padding-left: 0px;
                padding-top: 0px;
                margin-left: 6px;
                margin-top: 7px;
            }
        }
    }
}



// .slick-slide img {
//     border-radius: 5px;
//     display: block;
// }


// FIM CARD
