// Variáveis
$cor: #f1f2fa;

* {
    font-family: "Roboto";
}

html {
    background-color: $cor;
}

h2 {
    color: yellow;

}

body {
    margin: 0;
    background-color: #ffffff;
}

@import 'header';
@import 'home';
// @import 'footer';